@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";
.mdc-card {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states;
  position: relative;
  overflow: hidden;
}
.dev-card__primary {
  padding: 1rem;
}
.dev-card__secondary {
  padding: 0 1rem 8px;
}
.info {
  max-width: 360px;
  margin: 0 auto;
  padding: 70px 0 30px;
  text-align: center;
}
.icon {
  color: #00aeef;
}
.info-title {
  margin-top: 30px;
  font-size: 18px;
  color: #3c4858;
  margin: 1.75rem 0 0.875rem;
  font-weight: 700;
}
.info p {
  font-size: 16px;
  line-height: 1.6em;
}
.info .icon > i {
  font-size: 3.85rem;
}
