.drawer-heading {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
  text-decoration: inherit;
  text-transform: inherit;
  font-weight: 500;
  color: #202124;
  margin-bottom: 5px;
  padding: 12px 24px;
  font-size: 14px;
}
.drawer-list {
  font-family: Roboto Mono;
  font-weight: 500;
}
nav li {
  padding-bottom: 0;
}
.drawer-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 42px;
}
.side-nav__link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #5f6368;
  display: block;
  line-height: 18px;
  padding: 12px 48px;
  padding-left: 24px;
  text-align: left;
  width: 100%;
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states;
}
.drawer-list__item--active > .side-nav__link {
  font-weight: 500;
  color: #202124;
  position: relative;
}
.side-nav__section-title {
  color: #202124;
  display: block;
  font-size: 18px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-top: 40px;
}
.side-nav__menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 40px;
  padding-top: 40px;
}
.side-nav__menu--sections {
  padding-top: 0;
}
.side-nav__menu-item {
  overflow: hidden;
  position: relative;
}
