#footer {
  background: linear-gradient(90deg, #fafafa 50%, #ececec 50%);
  font: 14px/16px Roboto, sans-serif;
  .footer-nav-list {
    display: flex;
    padding: 0;
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }
}
.footer-nav {
  max-width: 1400px;
  margin: 0 auto;
}
.footer-linkbox {
  background: #fafafa;
  display: block;
  flex: 1 0 25%;
  margin: 0;
  padding: 24px 20px 32px;
  @media screen and (max-width: 1000px) {
    flex-basis: 50%;
  }
  @media screen and (max-width: 720px) {
    padding: 24px 16px 24px;
    flex: 1 0 100%;
    .footer-linkbox:first-child {
      padding-left: 16px;
    }
  }
}
.footer-linkbox:last-child {
  padding-right: 24px;
}
.footer-linkbox-sites {
  background: #ececec;
  text-transform: uppercase;
}
.footer-linkbox-heading {
  color: #263238;
  font: 500 14px/16px Roboto, sans-serif;
  margin: 0 0 8px;
}
.footer-linkbox-list {
  list-style-type: none;
  padding: 0;
}
.footer-linkbox-item {
  margin: 0;
  a,
  span {
    color: #263238;
    display: block;
    padding: 8px 0;
  }
  a:hover {
    color: #00aeef;
  }
}
#copy {
  background: #4285f4;
  .nav-copy {
    color: #fff;
    overflow: auto;
    padding: 14px 24px;
    font-size: 13px;
  }
}
.footer-nav-left,
.footer-nav-right,
.footer-nav-middle {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
}
.footer-nav-left {
  float: left;
  img {
    max-height: 50px;
  }
}
.footer-nav-right {
  float: right;
}
.footer-social-buttons {
  display: flex;
  font-size: 30px;
  a {
    transition: all 0.2s ease-in-out;
    margin-right: 22px;
    :hover {
      transform: scale(1.1);
    }
  }
}
