#tab-news,
#tab-uramshuulal,
#tab-video {
  padding: 24px;
}
.news-card {
  padding: 4px;
  width: 205px;
  position: relative;
  display: block;
  .border {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    box-shadow: none;
    flex-grow: 1;
  }
  .card-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 115px;
    overflow: hidden;
    position: relative;
  }
  .image-container {
    height: 115px;
    width: 205px;

    background-color: #eee;
    position: absolute;
    z-index: 0;
    margin: auto;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
  }
  .card-title {
    padding: 16px 16px 0 16px;
    display: block;
    div {
      height: 6.875em;
      line-height: 1.375;
      font-size: 16px;
      display: -webkit-box;
      overflow: hidden;
      white-space: normal;
    }
  }
  .card-footer {
    padding: 0 16px 11px;
    div {
      font-size: 12px;
      padding: 2px 0;
      line-height: 1.3300000429153442em;
      color: #808080;
    }
  }
}
