.left-split {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: 486px) {
    min-height: 750px;
    width: 100%;
    height: calc(80% - 64px);
    max-width: 1080px;
    max-height: 1000px;
    min-height: 650px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 1080px) {
    min-height: 700px;
    width: 80%;
    height: calc(80% - 64px);
    overflow: hidden;
  }
}
@media (max-width: 486px) {
  #form-container {
    position: absolute;
    top: -240px;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 400px) {
      top: -135px;
    }
  }
}
@media (min-width: 1080px) {
  #form-container {
    justify-content: flex-end;
    right: 400px;
  }
}
.tab-container {
  background: #fff;
  width: 380px;
  border: 1px solid transparent;
  border-radius: 16px;
  .mdc-tab-scroller {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  @media (max-height: 732px) {
    width: 90%;
  }
}
.input-container {
  margin-top: 20px;
  padding: 10px 30px;
  .mdc-text-field {
    width: 100%;
    &:last-child {
      margin-top: 10px;
    }
  }
  &:last-child {
    .mdc-button--raised {
      color: #fff !important;
    }
    display: flex;
    margin-top: 0;
    margin-bottom: 20px;
  }
  &.help-btn {
    margin: 0;
  }
}
