#header {
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  height: 64px;
  .container {
    width: 90% !important;
    max-width: 90% !important;
    display: flex;
    @media only screen and (max-width: 1153px) {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
  position: fixed;
  width: 100%;
  z-index: 1;
}
.logo {
  margin-top: 2px;
}
.header-nav {
  position: relative;
  flex: 1;
  text-align: right;
  > ul {
    line-height: 64px;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
  }
  li {
    font-size: 14px;
    margin-left: 20px;
    text-transform: uppercase;
    &:first-child {
      margin-left: 0;
    }
  }
  @media only screen and (max-width: 1153px) {
    li {
      margin: 0;
    }
  }
}
.header-nav-link {
  font-weight: 500;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.6);
  fill: rgba(0, 0, 0, 0.6);
  &.active,
  &:hover,
  &:active,
  &:focus {
    color: #00aeef !important;
  }
  @media only screen and (max-width: 1153px) {
    display: none;
  }
}
.nav-call-link {
  border: 1px solid #00aeef;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    color: #00aeef !important;
  }
  i {
    vertical-align: sub;
  }
}
.drawer-button-container {
  @media only screen and (min-width: 1153px) {
    display: none;
  }
  padding: 8px 0;
}
.icon-button-container {
  padding: 8px 0;
  margin-left: 14px;
}
.header-lockup {
  @media only screen and (max-width: 527px) {
    display: none;
  }
}
