.dev-footer-linkbox:first-child {
  padding-left: 24px;
}
.dev-footer-linkbox {
  display: block;
  flex: 1 0 25%;
  margin: 0;
  padding: 24px 20px 32px;
  @media screen and (max-width: 1000px) {
    flex-basis: 50%;
  }
  @media screen and (max-width: 720px) {
    padding: 24px 16px 24px;
    flex: 1 0 100%;
    &:first-child {
      padding-left: 16px;
    }
  }
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dev-footer-linkbox-heading {
  color: #00aeef;
  font: 500 14px/16px Roboto, sans-serif;
  margin: 0 0 8px;
}
.dev-footer-linkbox-item {
  a {
    color: #444;
    &:hover {
      color: #000;
    }
  }
}
@media screen and (max-width: 1000px) {
  .dev-footer-list {
    flex-wrap: wrap;
  }
}
