.login-panel {
  position: absolute;
  top: 20%;
  //   padding: 0 25px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: calc(50% - 490px);
  @media (min-width: 1220px) {
    margin-left: calc(50% - 600px);
    // padding: 0 35px;
  }
  @media (max-width: 1060px) {
    display: none;
  }
}
.form {
  width: 280px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  .form-header {
    padding: 20px 50px 0 50px;
  }
  .form-container {
    padding: 20px;
    .uk-input,
    .uk-button {
      border-radius: 36px;
    }
    .uk-button {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      .uk-active {
        margin-left: calc(50% - 490px);
        @media (min-width: 1220px) {
          margin-left: calc(50% - 600px);
          // padding: 0 35px;
        }
      }
    }
  }
}
.uk-dotnav > .uk-active > * {
  background: rgba(255, 255, 255, 0.9);
}
.uk-dotnav > * > * {
  background: rgba(255, 255, 255, 0.4);
}
