$brand-color: #00aeef;
$brand-hover: #6dcff6;
$brand-link: #21409a;
.header .top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    float: left;
    padding-right: 20px;
  }
  a:hover {
    color: $brand-hover;
    text-decoration: none;
  }
  a {
    font-size: 14px;
    display: inline-block;
    line-height: 38px;
    position: relative;
    color: $brand-color;
  }
}
.header-big {
  height: 90px;
  background: $brand-color;
  box-shadow: 0px 0px 4px 0px rgba(50, 46, 47, 0.75);
  ul.hmenu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    line-height: 90px;
  }
  ul,
  li {
    list-style-type: none;
  }
  li a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin-right: 30px;
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.651);
    }
  }
}
.header-logo {
  img {
    margin: 15px 0;
    margin-left: -10px;
  }
}
.search-btn i {
  padding: 7px;
}
