/* brand backround  background: #00aeef; */
/* brand color olor: #00aeef; */
/* brand second color color: #565656; */
@import "nav";
@import "site";
@import "form";
@import "footer";
body {
  background-color: #ffffff;
  font-family: arial, tahoma, maktahoma, arial;
  font-size: 12px;
  color: #4f4f4f;
  margin: 0px;
  //   height: 100%;
}
.max-1200 {
  max-width: 980px;
  padding: 0 25px;
  margin: 0 auto;
  padding: 0;
  @media (min-width: 1220px) {
    max-width: 1200px;
    padding: 0 35px;
  }
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
  width: 100%;
}
.dev-mini-nav {
  height: 38px;
  width: 100%;
  position: relative;
  background: #fff;
  color: #565656;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mini-nav-link {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: none;
  line-height: 38px;
  height: auto;
  position: relative;
  :last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  :hover {
    color: #d3d3d3;
    text-decoration: none;
  }
}
a {
  &:focus,
  &:hover {
    text-decoration: none !important;
  }
}
.header-slider {
  top: -1px;
  position: relative;
}
.header-slider .uk-dotnav {
  position: absolute;
  margin-left: calc(50% - 490px);
  @media (min-width: 1220px) {
    margin-left: calc(50% - 600px);
    // padding: 0 35px;
  }
  bottom: 30px;
}
.dev-card-title {
  font-size: 14px;
  color: #000;
}
.uk-table td,
.uk-table th {
  padding: 8px 8px;
  border-bottom: 1px solid #ddd;
}
.text-12 {
  font-size: 12px;
}
.text-16 {
  font-size: 16px;
}
table.dev-currency tr > td {
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom-color: #eee;
  :first-child {
    padding-left: 0;
  }
}
.uk-table th {
  font-size: 12px;
  padding: 0;
  color: #444;
}
table.uk-table > tbody > tr > td:first-child,
table.uk-table > thead > tr > th:first-child {
  padding-left: 0;
}
.w-55 {
  width: 54% !important;
}
.flex-column {
  flex-direction: column;
}
.text-28 {
  font-size: 28px;
}
.text-300 {
  font-weight: 300;
}
.text-brand {
  color: $brand-color;
}
.text-18 {
  font-size: 18px;
}
.mt-15 {
  margin-top: 15px;
}
.pt-14 {
  padding-top: 14px;
}
.uk-card-body {
  padding: 10px 30px;
}
.text-24 {
  font-size: 24px !important;
}
.text-14 {
  font-size: 14px;
}
.text-dark {
  color: #444 !important;
}
.text-13 {
  font-size: 13px;
}
.text-normal {
  text-transform: capitalize;
}
.dev-card-links {
  > li {
    margin-top: 0 !important;
    line-height: 19px;
    > a {
      &:hover {
        span {
          color: #444;
        }
      }
    }
  }
}
