.mt-10 {
  margin-top: 10px;
}
.dev-nav {
  background-color: transparent !important;
  max-width: 1400px;
  margin: 0 auto;
  height: 100px;
  z-index: 99;
}
.dev-nav-link {
  padding: 5px 20px !important;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff !important;
}
.dev-nav-link i {
  vertical-align: middle;
}
.dev-lang {
  padding: 0px !important;
}
.dev-lang img {
  max-height: 30px;
}
/* slider */
.dev-slider {
  position: relative;
  margin-top: -100px;
  top: 0;
}
.dev-slider .carousel-indicators {
  left: 0 !important;
  right: unset;
}
.dev-slider .carousel-indicators li,
#carouselHome .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.h-80vh {
  max-height: 80vh;
}
.dev-slider p {
  max-width: 500px;
}
.dev-slider .carousel-caption {
  text-align: left;
  left: 15%;
  right: unset;
  bottom: 20%;
}
/* Header form */
#header-form {
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 98;
  border: 2px solid #fff;
  padding: 10px;
  background-image: linear-gradient(#0d6990, #0f4686);
  border-radius: 25px;
}
.dev-header-form {
  min-width: 320px;
  flex-direction: column;
}
.dev-header-form input {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px 10px;
  outline: 0;
  border: 0;
}
.dev-header-form button {
  border-radius: 20px;
}
.form-image {
  max-width: 150px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.nav-phone {
  color: #1b569e !important;
  background: #fff;
}
/* side buttons */

.dev-container {
  max-width: 1400px;
  margin: 0 auto;
}
/* Seaction Header */
.section-header-title {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 25%;
  background: linear-gradient(to right, #0c4b8e, #07a7db);
  padding-right: 15px;
  margin-bottom: 20px;
  height: 50px;
}
.section-header-title h3 {
  font-style: italic;
  text-align: right;
  color: #fff;
  margin: 0;
  line-height: 50px;
}
.section-header-title-right {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 30%;
  background: linear-gradient(to right, #07a7db, #0c4b8e);
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
}
.section-header-title-right h3 {
  font-style: italic;
  text-align: left;
  color: #fff;
  margin: 0;
  line-height: 50px;
  margin-left: 10px;
}
/* .dev-card-container .card-image {
  background: linear-gradient(to bottom, #0a355f, #218eb9);
  border: 2px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 20px;
  border: 2px solid;
} */
.dev-card-container {
  z-index: 1;
  padding: 40px;
}

.gradient-box {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 22em;
  position: relative;
  padding: 47px;
  box-sizing: border-box;
  border: 3px;
  color: #000;
  background: #eaebeb;
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 50%;
}
.gradient-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: #c6c6c6;
}

.gradient-box:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #0a355f, #218eb9);
}
.dev-card-container:hover .text-brand-hover {
  color: #0a355f;
}
/*  */
.text-brand {
  color: #0a355f;
}
.text-brand-hover {
  max-width: 80%;
  margin: 0 auto;
  color: #c7c7c7;
}
.spec {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #0a355f;
}
.spec-s {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0a355f;
}
/* slider */

.max-500 {
  max-width: 500px;
}

#carouselHome .carousel-caption {
  bottom: 60px;
}
@media only screen and (min-width: 768px) {
  #carouselHome .carousel-caption {
    text-align: left;
    left: 15%;
    right: unset;
    bottom: unset;
    top: 40%;
  }
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.btn {
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-outline-white {
  color: #fff;
  border-color: #fff;
}
.btn-outline-white:hover {
  color: #273444;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
}
.btn-brand {
  font-size: 12px;
}
.btn-brand:focus {
  box-shadow: none;
}
.dev-right-container {
  display: flex;
  flex-direction: row-reverse;
}
.brand-card {
  width: 18rem;
}
.brand-card-image img {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  display: block;
  width: 100%;
}
.text-brand a:hover {
  color: #1f9bd1;
}
a:hover {
  text-decoration: none;
}
/* currency rate */
.currency-rate {
  background: #fff;

  border: 3px solid transparent;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right-width: 0;
  background-clip: padding-box;

  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 52px;

  position: absolute;
  right: 0;
}
.currency-rate::after {
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: 0;
  background: linear-gradient(to right, #07a7db, #0c4b8e);
  content: "";
  z-index: -1;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right-width: 0;
}
.currency-rate-container {
  line-height: 46px;
  height: 52px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.currency-rate-container div img {
  height: 21px;
  margin-right: 6px;
}
.bg-section-brand {
  background-image: linear-gradient(#3d6eac, #26b9f1);
  color: #fff;
}
.bg-section-brand .spec {
  border-bottom: 2px solid #fff;
}
.bg-section-brand .dev-card-container:hover .text-brand-hover {
  color: #fff;
}
.bg-section-brand .gradient-box {
  background: transparent;
  border: solid 3px rgba(255, 255, 255, 0.5);
}
.bg-section-brand .gradient-box::before {
  background: transparent;
}
.bg-section-brand .gradient-box:hover {
  border: solid 3px #fff;
}
/* sub footer */
.sub-footer ul,
.sub-footer li {
  padding: 0;
  list-style: none;
}
a.sub-footer-link:hover {
  color: #07a7db !important;
}
/* spec */
.spec-v {
  width: 2px;
  background-color: #e6e6e6;
  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);

  position: absolute;
  right: 50%;
  height: 70%;
}
.sub-footer-container {
  padding-top: 100px;
  margin-left: 20px;
}
.sub-footer-container img {
  float: left;
  max-width: 250px;
}
.sub-footer-container .right-item {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.right-item span {
  font-size: 14px;
}
/* side buttons */
.helpboxnew {
  width: 50px;
  position: absolute;
  top: 20%;
  right: 18px;
  z-index: 100;
}
.helpboxnew > a {
  padding: 8px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin-bottom: 10px;
  transition: margin 250ms;
}
.helpboxnew > a:hover {
  margin-left: -100px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: auto;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 18px 0px 0px 0px #fff;
}
.helpboxnew > a:hover .side-link-text {
  display: block;
}
.side-logo {
  height: 34px;
  width: 34px;
}
.side-link-text {
  display: none;
  line-height: 17px;
  height: 34px;
  margin-left: 10px;
  font-size: 13px;
  width: 82px;
}
.side-link-container {
  display: flex;
  flex-direction: row;
}
.text-i {
  line-height: 34px;
  font-size: 20px;
}
/* bg */
.bg-brand {
  background-color: #f3f3f3;
}
.btn-color-brand {
  color: #104e8e;
  border-color: #104e8e;
}
.btn-color-brand:hover {
  color: #273444;
  background-color: #fff;
  border-color: #104e8e;
  outline: 0;
}
.w-60 {
  width: 60%;
}
.get-btn img {
  width: 150px;
}
/* footer */
#footer {
  height: 80px;
  background: linear-gradient(to right, #3c6fac, #26baf1);
}
#footer .footer {
  padding: 26px 0;
}
.fs {
  flex-grow: 1;
}
